* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}


h1 {
    font-family: 'Nerko One', cursive;
    font-size: 96px;
    color: rgba(56, 88, 103, 1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Nerko One', cursive;
    font-size: 50px;
    color: rgba(56, 88, 103, 1);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.index {
   margin: 0;
   padding: 0;
   background: url(images/accueil/banniere.jpg) no-repeat center fixed;
   -webkit-background-size: cover;
   /* pour ancien chrome et safari*/
   background-size: cover;   
   /* version standard actuelle*/
}

nav ul {
    display: flex;
    font-family: 'Nerko One', cursive;
    font-size: 25px;
    color: black;
    list-style-image: url(images/puce.png);
    justify-content: space-around;
    margin-bottom: 50px;
    padding-top: 10px;
}

nav ul li:hover {
    background-color: rgb(235, 162, 229);
    color: rgba(56, 88, 103, 1);
    border-radius: 40%;
}

.images_accueil {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.insta {
    padding-top: 60px;
    margin-left: 50%;
}

.imgRight {
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    list-style-image: url(images/puce.png);
    font-size: 25px;
}

.imgLeft {
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    list-style-image: url(images/puce.png);
    font-size: 25px;
}

.banniere1 img {
    width: 100%;
}

.chronologie {
    display: flex;
    justify-content: center;
}

.calendrier {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.calendrier a {
    margin-left: 20px;
    font-size: 30px;
}

.map {
    display: flex;
    justify-content: center;
}

.imgLeft a {
    margin-left: 20px;
    font-size: 30px;
}

.imgRight a {
    margin-right: 20px;
    font-size: 30px;
}