* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* navigation */

.navlist_desktop ul {
  display: flex;
  font-family: "Nerko One", cursive;
  font-size: 25px;
  color: black;
  list-style-image: url(images/puce.png);
  justify-content: space-around;
  margin-bottom: 50px;
  padding-top: 10px;
}

nav ul li:hover {
  background-color: rgb(235, 162, 229);
  color: rgba(56, 88, 103, 1);
  border-radius: 40%;
}

.navlist_mobile {
  list-style: none;
  position: fixed;
  transition: top 1s;
  top: -80vh;
  left: 75%;
  width: 25vw;
  height: 60vh;
  display: none;
  font-size: 18px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(236, 189, 145);
  opacity: 0.8;
  margin: 3%;
}

.navlist_mobile li {
  list-style: none;
}

.nav_mobile i {
  z-index: 9999;
  position: fixed;
  color: rgb(44, 91, 132);
  font-size: 300%;
  display: none;
  justify-content: end;
  margin-right: 10%;
  right: 0;
}

.navlist_mobile a {
  color: rgb(56, 88, 103);
  font-weight: 1000;
  justify-content: center;
  display: none;
}

.list-visible {
  top: 0vh;
}

.icon-visible {
  color: rgb(56, 88, 103);
}

/* title */

h1 {
  font-family: "Nerko One", cursive;
  font-size: 96px;
  color: rgba(56, 88, 103, 1);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Nerko One", cursive;
  font-size: 50px;
  color: rgba(56, 88, 103, 1);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* pictures */

.Background_index {
  margin: 0;
  padding: 0;
  background: url(images/accueil/banniere.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour ancien chrome et safari*/
  background-size: cover;
  /* version standard actuelle*/
}

.images_accueil {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 10% 10% 1% 10%;
}
.etape {
  width: 100%;
  height: auto;
}

.insta {
  padding-top: 60px;
  margin-left: 50%;
}

.banniere {
  width: 100vw;
  height: auto;
}

.imgRight {
  display: flex;
  padding-top: 100px;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  list-style-image: url(images/puce.png);
  font-size: 25px;
}

.imgRight_mobile {
  border-radius: 50%;
  box-shadow: 10px 5px 5px rgba(56, 88, 103, 1);
}

.imgLeft_mobile {
  border-radius: 50%;
  box-shadow: -10px 5px 5px rgba(56, 88, 103, 1);
}

.imgLeft {
  display: flex;
  padding-top: 100px;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  list-style-image: url(images/puce.png);
  font-size: 25px;
}

.banniere1 img {
  min-width: 100vw;
}

.chronologie {
  display: flex;
  justify-content: center;
}

.img_chrono {
  width: 100%;
  height: auto;
}

.calendrier {
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}

.calendrier a {
  margin-left: 20px;
  font-size: 30px;
}

.imgLeft a {
  margin-left: 20px;
  font-size: 30px;
}

.imgRight a {
  margin-right: 20px;
  font-size: 30px;
}

/* map iframe */
.map {
  display: flex;
  justify-content: center;
}

.img_map {
  width: 50vw;
  height: 40vh;
}

/* responsive */

/* Ajustement Nav pour Desktop*/

@media screen and (max-width: 1149px) {
  .navlist_desktop ul {
    list-style: none;
  }

  .imgLeft ul,
  .imgRight ul {
    list-style: none;
    margin-left: 5vw;
  }
}

/* Responsive poru mobile*/

@media screen and (max-width: 750px) {
  .navlist_desktop {
    display: none;
  }

  .nav_mobile i {
    display: flex;
  }

  .navlist_mobile a {
    display: flex;
  }

  .navlist_mobile {
    display: flex;
  }

  .images_accueil {
    margin-top: 15vh;
  }

  .imgRight {
    flex-direction: column-reverse;
    justify-content: center;
    margin-left: 5vw;
    text-align: center;
  }

  .imgLeft {
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    text-align: center;
  }

  .imgRight_mobile {
    width: 90%;
    height: auto;
    box-shadow: none;
  }

  .imgLeft_mobile {
    width: 90%;
    height: auto;
    box-shadow: none;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 35px;
  }

  .calendrier {
    font-size: 20px;
    text-align: center;
  }
}
